<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gym Tracker</title>
</head>
<body>

<nav>
    <a href="{{ url_for('home') }}">Accueil</a>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ url_for('register') }}">Inscription</a>
        <a href="{{ url_for('login') }}">Connexion</a>
    {% endif %}
</nav>

{% block content %}{% endblock %}

</body>
</html>