<h1>Dashboard</h1>

<p>Tu es connecté.</p>

<a href="/logout">Se déconnecter</a>

<p>
    <a href="/add-performance">Ajouter une performance</a>
</p>
<p>
    <a href="/ranks">Voir les informations sur les ranks</a>
</p>
<h2>Liste des exercices</h2>

<ul>
    {% for exercise in exercises %}
        <li>
    {{ exercise.name }} - {{ exercise.muscle }}

    <a href="/exercise/{{ exercise.id }}">
        Voir classement
    </a>
</li>
    {% endfor %}
</ul>

<h2>Classements par muscle</h2>

<ul>
    <li><a href="/muscle/Chest">Chest</a></li>
    <li><a href="/muscle/Back">Back</a></li>
    <li><a href="/muscle/Shoulders">Shoulders</a></li>
    <li><a href="/muscle/Biceps">Biceps</a></li>
    <li><a href="/muscle/Triceps">Triceps</a></li>
    <li><a href="/muscle/Legs">Legs</a></li>
    <li><a href="/muscle/Abs">Abs</a></li>
    <li><a href="/muscle/Forearms">Forearms</a></li>
    <li><a href="/muscle/Calves">Calves</a></li>
</ul>

<h2>Mes performances</h2>
<h2>Total de mes points : {{ total_points }} — Rank : {{ user_rank }}</h2>
<ul>
    {% for performance in performances %}
        <li>
            {{ performance.exercise.name }}
            -
            {{ performance.weight }} kg
            ×
            {{ performance.reps }} reps
            =
            {{ performance.points }} points
        </li>
    {% endfor %}
</ul>