<h1>Dashboard</h1>

<p>Tu es connecté.</p>

<a href="/logout">Se déconnecter</a>

<p>
    <a href="/add-performance">Ajouter une performance</a>
</p>

<h2>Total de mes points : {{ total_points }}</h2>

<h2>Liste des exercices</h2>

<ul>
    {% for exercise in exercises %}
        <li>
            {{ exercise.name }} - {{ exercise.muscle }}
        </li>
    {% endfor %}
</ul>

<h2>Mes performances</h2>

<ul>
    {% for performance in performances %}
        <li>
            {{ performance.exercise.name }}
            -
            {{ performance.weight }} kg
            ×
            {{ performance.reps }} reps
            =
            {{ performance.points }} points
        </li>
    {% endfor %}
</ul>